@media all and (max-width: 1000px) {
  .upper h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 670px) {
  .upper h1 {
	  font-size:20px;
  }
  .btn-upper {
	position:absolute;
	top:140%;
	left:50%;
	transform: translate(-50%, -50%);
  }
  .features {
	  position:absolute;
	  top:390%;
	  left:50%;
	  transform: translate(-50%, -50%);
  }
}
